In [2]:
my_string = """Hello

my 

name

is                                  Joe"""


print(my_string)

Hello

my

name

is                                  Joe

In [3]:
part_a = "Hello"
part_b = " World"
part_a += part_b

In [4]:
print(part_a)

Hello World

In [5]:
import string

In [7]:
"a" in string.ascii_uppercase

False

In [8]:
answer = 42

In [11]:
print("The answer is",answer,".")

The answer is 42 .

In [13]:
print("The answer is {}.".format(answer))

The answer is 42.

In [14]:
count = 37

In [15]:
print("The answer is {} and the count was {}!".format(answer, count))

The answer is 42 and the count was 37!

In [16]:
print("The answer is {1} and the count was {0}!".format(answer, count))

The answer is 37 and the count was 42!

In [18]:
print("The answer is {0:>10} and the count was {1:>10}!".format(answer, count))

The answer is         42 and the count was         37!

In [23]:
for col in range(1, 13):
    for row in range(1, 13):
        print("{:<3}  ".format(col*row), end="")
    print()

1    2    3    4    5    6    7    8    9    10   11   12
2    4    6    8    10   12   14   16   18   20   22   24
3    6    9    12   15   18   21   24   27   30   33   36
4    8    12   16   20   24   28   32   36   40   44   48
5    10   15   20   25   30   35   40   45   50   55   60
6    12   18   24   30   36   42   48   54   60   66   72
7    14   21   28   35   42   49   56   63   70   77   84
8    16   24   32   40   48   56   64   72   80   88   96
9    18   27   36   45   54   63   72   81   90   99   108
10   20   30   40   50   60   70   80   90   100  110  120
11   22   33   44   55   66   77   88   99   110  121  132
12   24   36   48   60   72   84   96   108  120  132  144

In [25]:
for col in range(1, 13):
    for row in range(1, 13):
        # print("{:<3}  ".format(col*row), end="")
        print(f"{col*row:>3}  ", end="")
    print()

  1    2    3    4    5    6    7    8    9   10   11   12
  2    4    6    8   10   12   14   16   18   20   22   24
  3    6    9   12   15   18   21   24   27   30   33   36
  4    8   12   16   20   24   28   32   36   40   44   48
  5   10   15   20   25   30   35   40   45   50   55   60
  6   12   18   24   30   36   42   48   54   60   66   72
  7   14   21   28   35   42   49   56   63   70   77   84
  8   16   24   32   40   48   56   64   72   80   88   96
  9   18   27   36   45   54   63   72   81   90   99  108
 10   20   30   40   50   60   70   80   90  100  110  120
 11   22   33   44   55   66   77   88   99  110  121  132
 12   24   36   48   60   72   84   96  108  120  132  144

In [27]:
print(f"The answer is {answer} and the count was {count}!")

The answer is 42 and the count was 37!

In [28]:
name = "Joe"
len(name)

3

In [29]:
"J" in name

True

In [30]:
"q" in name

False

In [44]:
quote="Alright, but apart from the sanitation, the medicine, education, wine, public order, irrigation, roads, the fresh-water system, and public health, what have the Romans ever done for us?"

In [33]:
quote

'Alright, but apart from the sanitation, the medicine, education, wine, public order, irrigation, roads, the fresh-water system, and public health, what have the Romans ever done for us?'

In [37]:
for character in quote:
    if character in string.punctuation:
        print(f"{character} is punctuation.")

, is punctuation.
, is punctuation.
, is punctuation.
, is punctuation.
, is punctuation.
, is punctuation.
, is punctuation.
, is punctuation.
- is punctuation.
, is punctuation.
, is punctuation.
? is punctuation.

In [38]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [52]:
quote.split()

['Alright,',
 'but',
 'apart',
 'from',
 'the',
 'sanitation,',
 'the',
 'medicine,',
 'education,',
 'wine,',
 'public',
 'order,',
 'irrigation,',
 'roads,',
 'the',
 'fresh-water',
 'system,',
 'and',
 'public',
 'health,',
 'what',
 'have',
 'the',
 'Romans',
 'ever',
 'done',
 'for',
 'us?']

In [45]:
quote

'Alright, but apart from the sanitation, the medicine, education, wine, public order, irrigation, roads, the fresh-water system, and public health, what have the Romans ever done for us?'

In [53]:
quote

'Alright, but apart from the sanitation, the medicine, education, wine, public order, irrigation, roads, the fresh-water system, and public health, what have the Romans ever done for us?'

In [63]:
quote[0:20:2]

'Argt u pr '

In [62]:
name = "Joe Paris"
print(name[4:], name[:4])

Paris Joe

In [66]:
last_first = name[4:] + ", " + name[:4]

In [67]:
last_first

'Paris, Joe '

In [69]:
name

'Joe Paris'

In [70]:
name = name[4:] + ", " + name[:4]

In [71]:
name

'Paris, Joe '

In [73]:
for index, character in enumerate(quote):
    print(f"Character {index + 1} is a {character}")

Character 1 is a A
Character 2 is a l
Character 3 is a r
Character 4 is a i
Character 5 is a g
Character 6 is a h
Character 7 is a t
Character 8 is a ,
Character 9 is a
Character 10 is a b
Character 11 is a u
Character 12 is a t
Character 13 is a
Character 14 is a a
Character 15 is a p
Character 16 is a a
Character 17 is a r
Character 18 is a t
Character 19 is a
Character 20 is a f
Character 21 is a r
Character 22 is a o
Character 23 is a m
Character 24 is a
Character 25 is a t
Character 26 is a h
Character 27 is a e
Character 28 is a
Character 29 is a s
Character 30 is a a
Character 31 is a n
Character 32 is a i
Character 33 is a t
Character 34 is a a
Character 35 is a t
Character 36 is a i
Character 37 is a o
Character 38 is a n
Character 39 is a ,
Character 40 is a
Character 41 is a t
Character 42 is a h
Character 43 is a e
Character 44 is a
Character 45 is a m
Character 46 is a e
Character 47 is a d
Character 48 is a i
Character 49 is a c
Character 50 is a i
Character 51 is a n
Character 52 is a e
Character 53 is a ,
Character 54 is a
Character 55 is a e
Character 56 is a d
Character 57 is a u
Character 58 is a c
Character 59 is a a
Character 60 is a t
Character 61 is a i
Character 62 is a o
Character 63 is a n
Character 64 is a ,
Character 65 is a
Character 66 is a w
Character 67 is a i
Character 68 is a n
Character 69 is a e
Character 70 is a ,
Character 71 is a
Character 72 is a p
Character 73 is a u
Character 74 is a b
Character 75 is a l
Character 76 is a i
Character 77 is a c
Character 78 is a
Character 79 is a o
Character 80 is a r
Character 81 is a d
Character 82 is a e
Character 83 is a r
Character 84 is a ,
Character 85 is a
Character 86 is a i
Character 87 is a r
Character 88 is a r
Character 89 is a i
Character 90 is a g
Character 91 is a a
Character 92 is a t
Character 93 is a i
Character 94 is a o
Character 95 is a n
Character 96 is a ,
Character 97 is a
Character 98 is a r
Character 99 is a o
Character 100 is a a
Character 101 is a d
Character 102 is a s
Character 103 is a ,
Character 104 is a
Character 105 is a t
Character 106 is a h
Character 107 is a e
Character 108 is a
Character 109 is a f
Character 110 is a r
Character 111 is a e
Character 112 is a s
Character 113 is a h
Character 114 is a -
Character 115 is a w
Character 116 is a a
Character 117 is a t
Character 118 is a e
Character 119 is a r
Character 120 is a
Character 121 is a s
Character 122 is a y
Character 123 is a s
Character 124 is a t
Character 125 is a e
Character 126 is a m
Character 127 is a ,
Character 128 is a
Character 129 is a a
Character 130 is a n
Character 131 is a d
Character 132 is a
Character 133 is a p
Character 134 is a u
Character 135 is a b
Character 136 is a l
Character 137 is a i
Character 138 is a c
Character 139 is a
Character 140 is a h
Character 141 is a e
Character 142 is a a
Character 143 is a l
Character 144 is a t
Character 145 is a h
Character 146 is a ,
Character 147 is a
Character 148 is a w
Character 149 is a h
Character 150 is a a
Character 151 is a t
Character 152 is a
Character 153 is a h
Character 154 is a a
Character 155 is a v
Character 156 is a e
Character 157 is a
Character 158 is a t
Character 159 is a h
Character 160 is a e
Character 161 is a
Character 162 is a R
Character 163 is a o
Character 164 is a m
Character 165 is a a
Character 166 is a n
Character 167 is a s
Character 168 is a
Character 169 is a e
Character 170 is a v
Character 171 is a e
Character 172 is a r
Character 173 is a
Character 174 is a d
Character 175 is a o
Character 176 is a n
Character 177 is a e
Character 178 is a
Character 179 is a f
Character 180 is a o
Character 181 is a r
Character 182 is a
Character 183 is a u
Character 184 is a s
Character 185 is a ?